body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
}

.page {
  width: 100%;
}

.header {
  width: 100%;
  background: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #2ca36b;
}

.call {
  font-size: 16px;
}


.hero {
  display: flex;
  justify-content: space-between;
  padding: 120px 60px;
  color: white;
}


.hero-text h1 {
  font-size: 52px;
  font-weight: 800;
}

.hero-text p {
  margin-top: 10px;
  opacity: 0.8;
}

.learn-btn {
  margin-top: 30px;
  padding: 14px 28px;
  font-size: 18px;
  border: 2px solid white;
  background: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}


.contact-card {
  width: 330px;
  background: white;
  padding: 35px;
  border-radius: 4px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
  color: black;
  text-align: center;
}

.contact-card h3 {
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
}

.agent-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}


.contact-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.contact-btn {
  margin-top: 10px;
  width: 100%;
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
  background: #00c26a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
